/*color template*/
.color-primary{
    color: $color-primary;
}
.color-primary-bg{
    background: $color-primary;
}
.color-second{
    color: $color-second;
}
.color-second-bg{
    background: $color-primary;
}
.color-gold{
    color: $color-gold;
}
.color-gold-bg{
    background: $color-gold;
}