$font-baloo:"Baloo Thambi 2",cursive;
$font-raleway:"Raleway",cursive;
$font-rubik:"Rubik",cursive;
$font-poppins:"Poppins",cursive;
$font-robot:"Robot Mono",cursive;
$color-primary:#151313;
$color-second:#cccccc;
$color-gold:#a8741a;